/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*  */

body {
    background-color: #ABAC7F;
    background-image: url("cuttingboard.jpg");
    background-size: cover;
    
}

form {}



.sandwich-card {
    /* display: inline; */
    color: black;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #56BC25;
    border-radius: 5%;
    box-shadow: 0 4px 10px grey;
    padding: 10px;
    background-image: url("lettucecrop.png");
    background-size: 100px 100px;
    text-align: center;
}


#sandwich-card-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#choices-container {
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    margin: .5em

}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    color: #075209;
    text-align: center;
    text-shadow: 2px 2px #E3E3E2;
}

h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}
#sandwich-h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}

h5{
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 13px; 
}

label {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}

select {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    background-color: #E3E3E2;
}



/* option {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
} */



input{
    width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  background-color: #E3E3E2;
    
}

* {
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  header{
      height: 8vw;
      /* background-color: hsl(19, 59%, 29%);
      background-image: url("cutting_board_sandwich.jpg"); */
  }

  footer {
    height: 25px;
    /* background-color: hsl(19, 59%, 29%); */
    padding: 10px;
    text-align: center;
  }

  #sandwich {
      height: 100px;
  }

  #cardpic {
      width: 180px;
      height: 100px;
  }

  #choice1, #choice2, #choice3 {
    float: left;
    width: 210px;
    height: 210px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0 4px 10px grey;
  }


    #form-container {
        width: 500px;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    /* margin-left:15%; 
    margin-right:15%; */
    margin: auto;
    }

    #intro-container {
        width: 837px;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border-style: solid;
    border-width: 2px;
    border-color: black; */
    /* margin-left:15%; 
    margin-right:15%; */
    /* align-items: center; */
    margin: auto;
    margin-bottom: 5px;
    }

    #sandwich-form-container {
        display: flex;
        /* justify-content: space-between; */
        justify-content: center;
    margin: auto;
    margin-top: 30px;
    }

    #new-sandwich-form {
        display: flex;
    }

    #add-sandwich-question {
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 15px;
    }

    button {
        background-color: #E3E3E2;
        font-family: 'Roboto Slab', serif;
        margin-top: 3px;
    }

    nav {
        display: flex;
        height: 30px;
        background-color: #E3E3E2;
        opacity: 70%;
        list-style: none;
        text-align: center;
        justify-content: space-around;
    }

    nav li {
        /* display: flex; */
        font-family: 'Roboto Slab', serif;
        font-size: 1em;
        line-height: 20px;
        height: 20px;
        display: inline-block;
        margin: 0 6.5rem;
        
        

    }

    nav a {
        text-decoration: none;
        color: #075209;
    }

    nav a:hover {
        background-color: #56BC25;
    }

    nav ul {
        margin-left: auto;
        margin-right: auto;

    }

    .form-row {
        display: flex;
justify-content: space-between;
    }

    #admin-summary {
        display: flex;
flex-direction: column;
    }

    #chamber {
        position: fixed;
    bottom: 30px;
    right: 30px;
    width: 200px;
    height: auto;
}
    



    